/* Sezioni per i form di creazione/modifica */
.creation-form-section, .edit-form-section {
    position: relative;
    background-color: #3152a8;
    border-radius: 15px;
    margin: 2vh 5vw;
    width: 86vw;
    /*max-width: 100vh;*/
    max-height: 66vh;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Titolo nei form-header */
.form-header h1 {
    color: white;
    font-size: 1.7rem;
}

/* Intestazione dei form */
.form-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: sticky;
    top: 0;
    background-color: #3152a8;
}

/* Layout per i pulsanti dei form */
.form-buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

/* Pulsanti dei form */
.form-button {
    background-color: #f2f2f2;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #3152a8;
}

.form-button:hover {
    background-color: #007BFF;
    color: #f2f2f2;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0px 0px 5px 0px white;
}

/* Form */
.creation-form, .edit-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
    overflow-y: auto;
}

/* Sezione orizzontale (riga) per i campi del form */
.fields-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    gap: 15%;
    padding-right: 15px;
    padding-left: 15px;
}

/* Sezione orizzontale (riga) per le foto */
.photo-row {

    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    padding: 10px 15px;

}

/* Colonna per i campi del form */
.form-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    height: 100%;
}

/* Stile per le label dei campi del form */
label {
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

/* Stile per gli input dei campi del form */
input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: #3152a8;
    resize: none;
    margin-bottom: 10px;
    outline: none;
}

textarea {
    height: 210px;
}

/* Stile il contenitore circolare della foto */
.photo-upload-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    box-shadow: 0 0 5px 0 white;
}

/* Stile per il pulsante di rimozione della foto */
.remove-button {
    background-color: #f2f2f2;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #3152a8;
}

.remove-button:hover {
    background-color: #007BFF;
    color: #f2f2f2;
    cursor: pointer;
    transition: 0.2s;
}

/* Focus per i pulsanti e il contenitore circolare della foto */
.form-button:focus,
.remove-button:focus,
.photo-upload-circle:focus {
    outline: 2px solid #007BFF;
    outline-offset: 2px;
}

/* Stile per il messaggio di errore */
.error-message {
    margin-left: 100px;
    color: #3152a8;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    padding: 10px 20px;
    border-radius: 15px;
}
