.creation-form-section, .edit-form-section {
    position: relative;
    background-color: #3152a8;
    border-radius: 15px;
    margin: 2vh 5vw;
    max-width: 100vw;
    max-height: 66vh;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.form-header h1 {
    color: white;
    font-size: 1.7rem;
}

.form-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: sticky;
    top: 0;
    background-color: #3152a8;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.form-button {
    background-color: #f2f2f2;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #3152a8;
}

.form-button:hover {
    background-color: #007BFF;
    color: #f2f2f2;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0px 0px 5px 0px white;
}

.creation-form, .edit-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
    overflow-y: auto;
}

.fields-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    gap: 15%;
    padding-right: 15px;
    padding-left: 15px;
}

.photo-row {

    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    padding: 10px 15px;

}

.form-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    height: 100%;
}

label {
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: #3152a8;
    resize: none;
    margin-bottom: 10px;
}

textarea {
    height: 210px;
}

.photo-upload-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc; /* Sfondo neutro */
    background-size: cover;
    background-position: center;
    cursor: pointer;
    box-shadow: 0 0 5px 0 white;
}

.remove-button {
    background-color: #f2f2f2;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #3152a8;
}

.remove-button:hover {
    background-color: #007BFF;
    color: #f2f2f2;
    cursor: pointer;
    transition: 0.2s;
}

.form-button:focus,
.remove-button:focus,
.photo-upload-circle:focus {
    outline: 2px solid #007BFF;
    outline-offset: 2px;
}

.error-message {
    margin-left: 100px;
    color: #3152a8;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    padding: 10px 20px;
    border-radius: 15px;
}
